<%- include("partials/header.ejs", {obj: obj}) %>
<h1>hello this is about page</h1>
<style>
  .nav-button:nth-child(4) {
    background-color: #191919;
  }
  .nav-button:nth-child(1) {
    background-color: #1585e0;
  }
</style>
<%- include("partials/footer.ejs") %>
