<%- include("partials/header.ejs", {obj: obj}) %>
<section class="rank-section">
  <div class="leaderboard">
    <p class="heading-of-leaderboard">All Time Leaderboard</p>
  </div>
  <table>
    <thead>
      <tr>
        <th class="head-of-rank">Rank</th>
        <th class="head-of-rank">User</th>
        <th class="head-of-rank">WPM</th>
        <th class="head-of-rank">Accuracy</th>
        <th class="head-of-rank">Time</th>
        <th class="head-of-rank">Info</th>
        <th class="head-of-rank">Taken</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-of-table">
        <td class="table-data-of-rank">🥇</td>
        <td class="table-data-of-rank">Naman Mishra</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">🥈</td>
        <td class="table-data-of-rank">Mollie Larson</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">🥉</td>
        <td class="table-data-of-rank">Virginia Palmer</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">4</td>
        <td class="table-data-of-rank">Ronald Miles</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">5</td>
        <td class="table-data-of-rank">Cory Sanchez</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">6</td>
        <td class="table-data-of-rank">Madge Walton</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">7</td>
        <td class="table-data-of-rank">Milton Pratt</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">8</td>
        <td class="table-data-of-rank">Elsie Obrien</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">9</td>
        <td class="table-data-of-rank">Bertha Hudson</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">10</td>
        <td class="table-data-of-rank">Benjamin Cohen</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">11</td>
        <td class="table-data-of-rank">Oscar Larson</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">12</td>
        <td class="table-data-of-rank">Chad Burke</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">13</td>
        <td class="table-data-of-rank">Eddie Wheeler</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">14</td>
        <td class="table-data-of-rank">Eula Fowler</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
      <tr class="row-of-table">
        <td class="table-data-of-rank">15</td>
        <td class="table-data-of-rank">Gussie Delgado</td>
        <td class="table-data-of-rank">100</td>
        <td class="table-data-of-rank">100%</td>
        <td class="table-data-of-rank">1:00</td>
        <td class="table-data-of-rank">
          <ul class="graph">
            <li class="graph-item">
              <ion-icon name="menu-outline"></ion-icon>
            </li>
            <li class="graph-item"><span>""</span></li>
            <li class="graph-item"><span>#</span></li>
            <li class="graph-item">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </li>
          </ul>
        </td>
        <td class="table-data-of-rank">24/1/24 - 17:25</td>
      </tr>
    </tbody>
  </table>
</section>
<style>
  .nav-button:nth-child(2) {
    background-color: #191919;
  }
  .nav-button:nth-child(1) {
    background-color: #1585e0;
  }
</style>
<%- include("partials/footer.ejs") %>
